<h1 class="hidden">Interactive Infographic</h1>

  <div>
                      {{# each element}}
                          <a class="plantPictures" href={{ID}}><div>
                            <img src='images/{{Image}}.jpg'>
                          </div></a>
                          <h1>
                            {{name}}
                          </h1>
                          
                          {{/each}}
  </div>
                        

                 
                        
                      
                       
                          
                        
                     