<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>
    {{!-- <link rel="stylesheet" type="text/css" href="css/reset.css" /> --}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css" />
    <title>Interactive Inphographic</title>
</head>
<body>
    <div class="headerbox">
         <h1 class="header">
        Who drinks the most wine?
    </h1>
    <p>
        Top 5 countries by servings 
        consumed per person.
    </p>
    <img class="wineImg"src="images/wine_top.svg" alt="">
    </div>
    
       
                {{{body}}}
              


      <script src="js/main.js"></script>   
</body>
</html>