<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>
    {{!-- <link rel="stylesheet" type="text/css" href="css/reset.css" /> --}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css" />
    <title>Interactive Inphographic</title>
</head>
<body>
    
    <img class="wineImg"src="images/wine_top.svg" alt="">
    <h1 class="click">Click on the name below!</h1>
    </div>
    
       <div class="intro">
            {{{body}}}

       </div>
               
                <template id="book-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="b-cover"></img>
                <h1 class="b-name"></h1>
            </div>

            {{!-- <button class="b-button">More Details</button> --}}
        </div>
    </template>
              


      <script src="js/main.js"></script>   
</body>
</html>