body{
    background-color:$bg;
    color:$header;
    font-family:$font;
    
}
.hidden{
    display:none;
}



.headerbox{
    margin: 10px;
    position: relative;
   max-height: calc(100% - 14rem);
    //padding: 3rem;
    overflow: hidden;
  
   p{
       width: 45%;
       position: absolute;
       left: 45px;
       top: 90px;
       max-height: calc(100% - 14rem);
      
   }
   .header{
    font-family:$font;
    font-weight: bold;
    font-size: 3vh;
    position: absolute;
    top: 28px;
    left: 45px;
    width: 45%;

}
.wineImg{
margin:0;

}

}